{% extends 'observatorio/base.html' %}
{% load widget_tweaks %}

{% block content %}
{% with attrs="class:form-control" %}
<div class="container mt-5">
  <div class="card shadow p-4">

    <h2 class="mb-4"><i class="bi bi-key"></i> Cambiar contraseña</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="mb-3">
        <label for="id_old_password" class="form-label">Contraseña actual</label>
        {{ form.old_password|as_widget:attrs }}
        {{ form.old_password.errors }}
      </div>

      <div class="mb-3">
        <label for="id_new_password1" class="form-label">Nueva contraseña</label>
        {{ form.new_password1|as_widget:attrs }}
        {{ form.new_password1.errors }}
        <div class="form-text">
          <ul class="small">
            <li>Debe tener al menos 8 caracteres</li>
            <li>No puede ser una contraseña común</li>
            <li>No puede estar compuesta solo por números</li>
          </ul>
        </div>
      </div>

      <div class="mb-3">
        <label for="id_new_password2" class="form-label">Confirmar nueva contraseña</label>
        {{ form.new_password2|as_widget:attrs }}
        {{ form.new_password2.errors }}
      </div>

      <button type="submit" class="btn btn-primary">
        <i class="bi bi-save"></i> Cambiar mi contraseña
      </button>
    </form>
  </div>
</div>
{% endwith %}
{% endblock %}
