{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Observatorio de Contenidos Digitales</title>
    <link rel="icon" type="image/png" href="{% static 'images/icono.png' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

      <style>
        body, h1, h2, h3, h4, h5, h6, p, a, li, span, button {
          font-family: 'Montserrat', sans-serif !important;
        }
      </style>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container px-4">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
          <img src="{% static 'images/icono.png' %}" alt="Logo" height="30" class="me-2">
          <span>SÍNTESIS ESTRATÉGICA</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'listar_informes' %}">Ver Informes</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'crear_informe' %}">Cargar Informe</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'buscar_informes' %}">Buscar</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'suscribirse' %}">
                Suscribirse
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header de bienvenida -->
    <!-- Header de bienvenida -->
    <header class="text-white" style="
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                    url('{% static "images/fondo-seccion.png" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    ">
      <div class="container px-4 text-center py-5">
        <h1 class="fw-bolder">Observatorio de Contenidos</h1>
        <p class="lead">Estudios, informes y herramientas para entender consumos y hábitos en entornos digitales</p>
      </div>
    </header>



    <!-- Contenido dinámico -->
    <main class="container my-5">

      {% if messages %}
          <div class="container mt-4">
              {% for message in messages %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          </div>
      {% endif %}

      {% block content %}
      <!-- Aquí va el contenido específico de cada página -->
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <div class="text-center">
          <img src="{% static 'images/sinest.png' %}" alt="Logo Footer" height="30" class="mb-2">
          <p class="m-0 text-white">© Síntesis Estratégica - Santiago Bonacci - 2025</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap y JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>


